* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    background-color: #333;
    color: white;
    padding: 0 10%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo h4 {
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li {
    list-style: none;
    justify-content: space-evenly;
    margin: 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
.nav-links a:after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s;
}
.nav-links a:hover:after{
    width: 100%;
}
.nav-links a:hover {
    color: #00b0aa;
}

/* Hamburger Menu */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


.line1,
.line2,
.line3 {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px;
}
/* CSS Animation */
.nav-active {
    transform: translateX(0%);
}


/* Media Query */
@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 5;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: flex;
    }

    .nav-active {
        transform: translateX(0%);
    }

    .nav-links li {
        opacity: 1;
    }

    .nav-links a {
        color: white;
        font-size: 1rem;
    }
}
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
   
    }
}


/* Footer Styling */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background-color: #333;
    color: white;
    padding: 0 10%;
}